<p>portrait works!</p>
<!-- <div class="row g-4 my-4">
  @for (blog of blogs; track blog.id) {
    @if (blog.category === 'بورتريه') {
      <div class="col-4">
        <div class="border rounded-4">
          <article>
            <a>
              <div class="position-relative">
                <img class="w-100 rounded-top-4" [src]="blog.image" alt="blog image" />
                <span
                  class="position-absolute top-0 start-0 p-1 ms-3 mt-3 rounded-4 bg-danger text-white"
                  >{{ blog.category }}</span
                >
              </div>
              <div class="p-3">
                <div>
                  <span><i class="fa-regular fa-clock"></i>{{ blog.readTime }}</span>
                  <span><i class="icon fa-solid fa-circle"></i></span>
                  <span>{{ blog.date }}</span>
                </div>
                <h3>{{ blog.title }}</h3>
                <p>{{ blog.excerpt }}</p>
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <img class="blog-avatar" [src]="blog.author.avatar" alt="" />
                    <div>
                      <p>{{ blog.author.name }}</p>
                      <p>{{ blog.author.role }}</p>
                    </div>
                  </div>
                  <div><i class="fa-solid fa-angle-left"></i></div>
                </div>
              </div>
            </a>
          </article>
        </div>
      </div>
    }
  }
</div> -->



<div class="row gy-5">
  @for (blog of blogs; track blog.id) {
    @if (blog.category === 'بورتريه') {
      <div class="col-12 col-md-6 col-lg-4">
        <article class="h-100">
          <div class="border-0 rounded-5 bg-third h-100">
            <a class="text-decoration-none" [routerLink]="['/', blog.slug]" routerLinkActive="active">
              <div class="position-relative overflow-hidden rounded-top-5">
                <img
                  class="picture w-100 rounded-top-5 object-fit-cover"
                  [src]="blog.image"
                  [alt]="blog.title"
                />
                <div class="position-absolute top-0 start-0 py-1 px-2 mt-3 ms-3 bg-black rounded-5">
                  <span class="text-white fw-bolder" style="font-size: 14px">{{
                    blog.category
                  }}</span>
                </div>
              </div>
              <div class="py-3 px-4">
                <div class="text-read">
                  <span class="me-4"><i class="fa-regular fa-clock"></i> {{ blog.readTime }}</span>
                  <span>{{ formatDate(blog.date) }}</span>
                </div>
                <h3 class="text-white">{{ blog.title }}</h3>
                <p class="text-gray">{{ blog.excerpt }}</p>
                <hr class="text-white my-3" />
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex">
                    <img
                      class="author-img border border-1 border-gray"
                      [src]="blog.author.avatar"
                      [alt]="blog.author.name"
                    />
                    <div class="ms-3">
                      <p class="text-white mb-0">{{ blog.author.name }}</p>
                      <p class="text-gray mb-0" style="font-size: 12px">{{ blog.author.role }}</p>
                    </div>
                  </div>
                  <div class="left-arrow rounded-circle p-2 border border-1 border-orange bg-title">
                    <i class="fa-solid fa-chevron-left text-second"></i>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </article>
      </div>
    }
  }
</div>