

<nav class="navbar navbar-expand-lg bg-black fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/home">
      <div>
        <img src="./images/logo-GdqARQRt.png" alt="adasa logo" />
      </div>

      <div class="ms-2">
        <span class="d-block fs-4 fw-bold text-white">عدسة</span>
        <span class="fs-6 fw-light text-main">عالم التصوير الفوتوغرافي</span>
      </div>
    </a>

    <button
      class="navbar-toggler border-0 bg-main rounded-3 p-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars text-white fs-4"></i>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <div class="mx-auto rounded-5 p-1 mt-3 mt-lg-0" style="background-color: #161616">
        <div class="d-flex flex-column flex-lg-row">
          <a
            class="d-inline-block nav-link text-gray px-4 py-2 rounded-5"
            routerLink="/home"
            routerLinkActive="bg-main text-white"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            الرئيسية
          </a>

          <a
            class="d-inline-block nav-link text-gray px-4 py-2 rounded-5"
            routerLink="/blog"
            routerLinkActive="bg-main text-white"
          >
            المدونة
          </a>

          <a
            class="d-inline-block nav-link text-gray px-4 py-2 rounded-5"
            routerLink="/whoarewe"
            routerLinkActive="bg-main text-white"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            من نحن
          </a>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-center mt-3 mt-lg-0">
        <i
          class="fa-solid fa-magnifying-glass me-3 p-3 d-none d-lg-flex justify-content-center align-items-center fs-6 text-gray"
        ></i>

        <button class="read-btn px-4 py-3 rounded-5 bg-main border-0 text-white w-100">
          ابدأ القراءة
        </button>
      </div>
    </div>
  </div>
</nav>
